
*{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #12072e;
    color: #FFF;  
    position: static;
    animation: fadeIn 3s;
}

h1{
    font-size: 50px;
    text-align: center;
}

h2{
    font-size: 50px;
    
}

p{
    font-size: 20px;
}

.aboutMeBody{
    border:solid rgb(250, 250, 250) .1vw;
}

.aboutMe{
    float: left;
    width: 50%;
}

.funnyButton{
    float: right;
    width: 50%;
}

.thingsWorkedOn{
    text-align: center; 
}

.columns{
    width: 100%;
    height: 500px;
    border-style: hidden;
    border-width: 1px;

}

#funnyRatButton{
    background-color: #12072e;
    padding: 0;
    border: none;
    scale: 0.5;
}

#funnyRatButton:hover {
    background-color: #30215a;
}

language{
    color:aquamarine
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}